<div class="container">

    <div class="text-center border mb 5 shadow rounded">
        <h1>Contact</h1>
        <p>Mi correo profesional para posibles contrataciones es:  <b>marcoblaleb&#64;gmail.com</b></p>
        <p>También puedes contactar conmigo en cualquiera de las siguientes plataformas: </p>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/marco-antonio-blanco-lebr%C3%B3n-b76351195/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/LinkedIn_logo_initials.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/marblaleb" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">Github</h3>
        </a>

    </div>


</div>
