<div class="container text-center">
	<button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Descárgalo en PDF</button>


	<div class="pb-2">
		<accordion [isAnimated]="true" class="shadow ">
			<accordion-group [(isOpen)]="isOpen" heading="Experiencia Laboral">

				<div style="text-align: left;">
					<h2 class="mb-0">Desarrollador FullStack</h2>
					<h3 class="text-primary">Atrebo</h3>
					<ul>
						<li>Desarrollo con .Net y C# en BackEnd </li>
						<li>Desarrollo con ASPX y Javascript para diseno FrontEnd </li>
					</ul>


				</div>

			</accordion-group>

			<accordion-group heading="Formación">
				<div style="text-align: left;">
					<h2 class="mb-0">Desarrollo de Aplicaciones Web</h2>
					<h3 class="text-primary">I.E.S Velázquez</h3>
					<ul>
						<li>Habilidades aprendidas: </li>
						<li>Desarrollo BackEnd con SpringBoot, JavaEE, Hibernate, JWT y Spring Security</li>
						<li>Desarrollo FrontEnd con Angular, Javascript, Typescript, HTML5 y CSS3</li>
						<li>Gestión de Bases de Datos Relacionales con SQL y PL/SQL con Oracle</li>
						<li>Desarrollo de Videojuegos con C# y Unity</li>
						<li>Desarrollo de Aplicaciones móviles con Koitlin</li>
						<li>Despliegue de aplicaciones en Linux con Ubuntu Server</li>
					</ul>


				</div>

				<hr>

				<div style="text-align: left;">
					<h2 class="mb-0">Grado en Comunicación Audiovisual</h2>
					<h3 class="text-primary">Universidad Complutense de Madrid</h3>
					<ul>
						<li>Habilidades aprendidas: </li>
						<li>Edición y Postproducción de imagen con Photoshop, Illustrator y Lightroom</li>
						<li>Edición y Postproducción de vídeo con Première, After Effects y DaVinci Resolve</li>
						<li>Dirección y comunicación de equipos</li>

					</ul>


				</div>
			</accordion-group>

			<accordion-group heading="Certificados/Cursos">
				<div style="text-align: left;">
					<h2 class="mb-0">Grado en Filosofía</h2>
					<h3 class="text-primary">UNED</h3>
					<ul>
						<li>Especializado en Epistemología de las Ciencias y Ontología de los Objetos Digitales </li>

					</ul>


				</div>
			</accordion-group>

			<accordion-group heading="Habilidades">

				<div class="row" style="text-align: left;">

				<div class="col" >

					<h3>Lenguajes de programación: </h3>
					<ul>
						<li>Java </li>
						<li>C# </li>
						<li>Javascript </li>
						<li>Typescript </li>
						<li>HTML5 </li>
						<li>CSS3</li>
						<li>Koitlin </li>
						<li>Python </li>
						<li>SQL </li>
					</ul>


				</div>
				<div class="col">

					<h3>Frameworks: </h3>
					<ul>
						<li>SpringBoot </li>
						<li>Angular </li>
						<li>ASP.NET </li>
					</ul>


				</div>

			</div>
			</accordion-group>
		</accordion>
	</div>

</div>