<div class="container">
    <div class="row">

        <div class="col-lg shadow border m-1">
            <div class="text-center">

                <h2>Sobre mí</h2>
                <img src="../../assets/16072022-DSC04527.JPG" alt="imagen" width="356" height="356" class="rounded-circle">
                <p>Desarrollador web full-stack con formación
                    previa en Ciencias de la Comunicación y
                    Filosofía. Apasionado de la estética digital, la
                    ciberseguridad, el desarrollo y las
                    posibilidades de la IA. Personalidad curiosa,
                    flexible, resolutiva y creativa, siempre
                    sostenida sobre el fuerte andamiaje del
                    pensamiento crítico. Capacidades
                    comunicativas y ganas de trabajar en equipo</p>
            </div>


        </div>



        <div class="col-lg shadow border m-1">

            <h2>Proyectos personales</h2>
            <h4>{{featuredProject.name}}</h4>

            
        </div>

    </div>
</div>
